<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Pronto Falei | Home </title>
   </head>
   <body>
      <%- include('../Home/header') %>
      <%- include('../Home/introduce') %>
      <%- include('../Home/about-us') %>
      <%- include('../Home/talk-us') %>
      <%- include('../Home/footer') %>
      <script type="module" src="/js/home.js"/></script>
   </body>
</html>